:root {
  --main-font-anton: "Anton", sans-serif;
  --main-font-roboto-slab: "Roboto Slab", serif;
  --main-font-small: 1rem;
  --main-font-medium: 1.3rem;
  --main-font-large: 1.8rem;
  --main-font-extra-large: 2.3rem;
  --main-recovered-color: #398f11;
  --main-death-color: #df0606;
  --main-new-cases-color: #c70a78;
  --main-total-cases-color: #1a2bc5;
  --main-black-color: #0c0b0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
}

p {
  font-size: var(--main-font-small);
  color: var(--main-black-color);
}

.title {
  font-family: var(--main-font-roboto-slab);
  font-size: var(--main-font-large);
  font-weight: 500;
}

.search-box input {
  outline: none;
}

.search-icon {
  font-size: var(--main-font-large);
}

.search-icon:hover {
  cursor: pointer;
  color: var(--main-total-cases-color);
}

.date-time {
  font-size: var(--main-font-small);
}

.date-time::before {
  content: " ";
  display: block;
  background-color: red;
  width: auto;
  height: 2px;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}

#preloader1 {
  position: relative;
  visibility: hidden;
}

h3 {
  font-size: var(--main-font-large);
  color: var(--main-black-color);
}

.covid-details {
  border: 1px solid #eee;
  box-shadow: 0px 2px 5px #ccc;
  border-radius: 15px;
}

.num {
  font-size: var(--main-font-medium);
}

.pie-chart {
  border: 1px solid #eee;
  box-shadow: 0px 2px 5px #ccc;
  border-radius: 10px;
}

.recovered-num {
  color: var(--main-recovered-color);
}

.death-num {
  color: var(--main-death-color);
}

.new-cases-num {
  color: var(--main-new-cases-color);
}

.total-cases-num {
  color: var(--main-total-cases-color);
}

/* Table css */
table {
  position: relative;
}

th {
  top: 0;
  position: sticky;
  background-color: rgb(238, 238, 238, 0.9);
}
tr {
  text-align: center;
  font-size: 2rem;
}

/* article */

article {
  border: 1px solid #eee;
  box-shadow: 0px 2px 5px #ccc;
  padding: 10px;
  min-height: 200px;
  min-width: 200px;
}

/* Article image */
.article-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

h4 {
  font-weight: 500;
  font-size: var(--main-font-medium);
}

.takeMeUp {
  visibility: hidden;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 1.5rem;
  z-index: 100;
  cursor: pointer;
  color: white;
  background-color: rgb(128, 0, 128, 0.7);
}

.takeMeUp:hover {
  background-color: purple;
}
